<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">


            <form th:action="@{/formdep}" th:object="${departamento}" method="post">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Codigo</label>
                    <div class=col-sm-3>
                        <input type="text" th:field="*{id}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Departamento</label>
                    <div class=col-sm-3>
                        <input type="text" th:field="*{nombredep}" class="form-control"/>
                    </div>
                </div>


                <div class="text-left">
                    <div class=col-sm-6>
                        <input type="submit" value="Crear Departamento" class="btn btn-primary"/>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>