<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <script type="text/javascript" th:fragment="javascript">

        const BrigadaOptions = {
            "Brigada1": ["SAN ISIDRO", "MIRAFLORES", "SURQUILLO", "LOS OLIVOS", "S.J LURIGANCHO", "S.M.P", "SAN MIGUEL", "CALLAO", "MAGDALENA", "BREÑA", "JESUS MARIA", "LIMA", "LINCE", "PUEBLO LIBRE", "LA VICTORIA", "SAN BORJA"],
            "Brigada2": ["BARRANCO", "CHORRILLOS", "LA MOLINA", "S.J MIRAFLORES", "V.M.T", "SALAMANCA", "CHACARILLA", "MONTERRICO", "SURCO", "SAN BORJA"],
            "Brigada3": ["SAN ISIDRO", "MIRAFLORES", "SURQUILLO", "LOS OLIVOS", "S.J LURIGANCHO", "S.M.P", "SAN MIGUEL", "CALLAO", "MAGDALENA", "BREÑA", "JESUS MARIA", "LIMA", "LINCE", "PUEBLO LIBRE", "LA VICTORIA", "SAN BORJA"],
            "Brigada4": ["SAN ISIDRO", "MIRAFLORES", "SURQUILLO", "LOS OLIVOS", "S.J LURIGANCHO", "S.M.P", "SAN MIGUEL", "CALLAO", "MAGDALENA", "BREÑA", "JESUS MARIA", "LIMA", "LINCE", "PUEBLO LIBRE", "LA VICTORIA", "SAN BORJA", "BARRANCO", "CHORRILLOS", "LA MOLINA", "S.J MIRAFLORES", "V.M.T", "SALAMANCA", "CHACARILLA", "MONTERRICO", "SURCO", "SAN BORJA"],
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            autocompleteDistrito(document.getElementById("obs"));
        });

        function autocompleteDistrito(inp) {
            var currentFocus;
            var district = document.getElementById("dist");
            var zona = document.getElementById("zona");
            var turno = document.getElementById("turno");

            inp.addEventListener("change", function (e) {

                var val = this.value;
                district.innerHTML = '';

                if (val) {

                    var opc = BrigadaOptions[val];

                    for (let i = 0; i < opc.length; i++) {
                        let opcion = opc[i];
                        let optionElement = document.createElement('option');
                        optionElement.textContent = opcion;
                        optionElement.value = opcion;
                        district.appendChild(optionElement);
                    }
                }

                switch (val) {
                    case "Brigada1":
                        //Sur
                        zona.selectedIndex = 0;
                        turno.selectedIndex = 0;
                        break;
                    case "Brigada2":
                        //Norte
                        zona.selectedIndex = 1;
                        turno.selectedIndex = 0;
                        break;
                }

            });
        }



    </script>

</body>

</html>